@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* body style */
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    padding: 0;
}

.container {
    margin: 0 auto;
    height: 600px;
    max-width: 1300px;

}

/* banner section */

.banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/bg-img.png');
    background-repeat: no-repeat;
    margin: 80px 40px;
    background-position: cover;
    border-radius: 16px;
}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;




}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

.banner-text {
    padding: 100px;
    margin: 20px auto;
    gap: 10px;

}

/* banner section end */
/*  <!-- holiday section --> */
.holidays-deal {
    text-align: center;
}

.holidays-deal .holidays-text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    ;


}

.holidays-deal .holidays-text h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-bottom: 100px; */
}

.holidays-deal .holidays-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    ;
}

.holidays-img img {
    margin-bottom: 100px;

}

/* <!-- holiday section end--> */
/* midnight party */
.midnight-party-text {
    padding: 126px;
}

.midnight-party .midnight-party-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    width: 600px;

}

.midnight-party .midnight-party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 600px;
}

.midnight-party .midnight-party-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background: none;
    font-weight: 700;
    text-transform: uppercase;


}

.midnight-party-img {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/year-img.png"), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-position: top right;


}


/* midnight party end */

/* new park start */
.new-park {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.new-park-text {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

.new-park button {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    font-family: Inter;
    font-size: 20px;

    font-weight: 700;
}

#important {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

/* new park end */



/* best offer section start */
.best-offer {
    display: flex;

}

.best-offer-first-text,
.best-offer-second-text {
    width: 400px;
    padding: 50px;

}

.best-offer-first-text p,
.best-offer-second-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.best-offer .best-offer-first-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.best-offer-second-text h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.best-offer-first-text h1 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.best-offer-img {
    border: 10px solid red;
    border-radius: 50%;
    padding: 30px;
}



/* best offer section end */
/* holiday sale start */
.holiday-sale-text {
    text-align: center;
    margin: 50px;
}

.holiday-sale-text h1 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

#holiday-sale-id {
    color: #F00;
}

.holiday-sale-text p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.60);
    font-weight: 500;
    padding: 0 100px;
    width: 1000px;
  
}
.holidays-sale-img{
  
    background-image: url("../images/rectangle2.png"),url("../images/girl.png");
    background-repeat: no-repeat;
    background-position:bottom, top right;
    position: relative;
    background-size: 100% ,30%;
    margin: 0 100px;
}

.holidays-sale-img .img-one{
    width: 400px;
  
}
.holidays-sale-img .img-two{
    width: 200px;
    position: absolute;
    left: 60%;
    
}

/* holiday sale end */


/* gift section start */
.gift{
    margin: 250px 0px;
}
.gift .gift-text {
    padding: 0 150px;
   

}

.gift .gift-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift .gift-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.gift .gift-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 800px;

}


.gift-img {
    max-width: 424px;
    margin: 0 100px;
    position: relative;
    


}

.gift-img img {
    width: 100%;
    transition: transform 0.3s ease-in-out;


}
.gift-img:hover img {
    transform: scale(1.1);


}

.gift-img-one,
.gift-img-two {
    padding: 0 50px;
    display: flex;
    margin-bottom: 50px;
    gap: 10px;
    border-radius: 16px;

}

/* gift section end */

/* newsletter section start */

.newsletter {
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px;
}

.newsletter-img img {
    width: 150px;
    padding-top: 100px;
}

.newsletter-text h1 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;


}

.newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 0 100px;

}

.newsletter form {
    max-width: 500px;
    margin: 20px auto;
    display: flex;

}

.newsletter form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 50px 0px 0px 50px;

}

.newsletter form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    border: none;
    width: 150px;
}

/* newsletter section end */
/* footer section start */

.footer {
    width: 1600px;
    height: 500px;
    background-color: #070211;

}

.footer-first-part,
.footer-third-part {
    display: flex;
    justify-content: space-around;
    padding: 20px 100px;
    align-items: center;
}



.footer-text,
.footer-call,
.footer-website,
.footer-third-part {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.footer-second-part {
    text-align: center;
    padding-top: 70px;

}

.footer-second-part img {
    gap: 10px;
    margin-bottom: 100px;
}

.footer hr {
    background: rgba(255, 255, 255, 0.15);
    margin: 0 100px;
}

/* footer section end */